html { 
	background: #00315c url(images/masthead.png) no-repeat top center;
	min-width: 1024px; 
	font: normal normal 17px sans-serif;
	line-height: 18px; 
	color: #00315c; 
	height: 100%; 
	}

body { 
	background: #00315c url(images/background.png) no-repeat top center;
	margin: 269px auto 0 auto; 
	min-height: 499px; 
	}

p { 
	margin: 10px 0;
	}

a { 
	color: #00315c; 
	} 

ul, li { 
	margin: 0;
	padding: 0;
	list-style: none; /*vertical-align: baseline;*/
	}

img {
	border: 0;
	}

td { 
	vertical-align: baseline; 
	}

textarea { 
	background-color: #e3ecfe; 
	padding: 0 0 0 2px; 
	width: 347px; 
	margin-bottom: 0; 
	border: 2px inset #eee;
	font: 17px sans-serif; 
	}

input[type=text] { 
	background-color: #e3ecfe; 
	width: 269px; 
	font-size: 17px;
	padding-left: 2px; 
	padding-right: 0;
	margin-right: 0;
	display: inline block;
	}

input[class=search]	{ 
	background: #fff url(images/search.png) no-repeat top center; 
	margin-top: 10px;
	margin-right: 10px;	
	border: 0; 
	cursor: pointer; 
	float: right; 
	width: 77px; 
	height: 29px; 
	}

#import_bttn { 
	background: #fff url(images/import.png) no-repeat top center; 
	border: 0; 
	cursor: pointer; 
	width: 77px; 
	height: 29px; 
	margin-top: -4px; 
	position: absolute; 
	}

.content { 
	width: 576px;	
	margin: 0 auto 0 auto; 
	padding: 8px 40px 20px 40px; 
	background-color: #fff;
	overflow: hidden;
	}

.login { 
	width: 234px; 
	margin: 0 auto 0 auto; 
	font-size: 14px; text-align: center; padding-top: 26px; 
	}

	.login a { 
		font-size: 12px; 
		font-weight: bold;
		}

	.login p { 
		width: 77px; 
		}

.logout { 
	clear: both;
	width: 576px; 
	margin: 0 auto 22px auto; 
	font-size: 12px; 
	font-weight: bold;
	text-align: right; 
	padding-top: 22px;
	}

.divider { 
	background: #fff url(images/fish_divider.png) no-repeat top center;
	clear: both;
	width: 616px; 
	height: 25px; 
	margin: 15px auto 15px auto;
	}

.search	{ 
	width: 305px;	
	margin: 25px auto 0 auto;
	}

.library {
	clear: both; 
	padding-top: 10px;
	}

.bottom	{ 
	font-style: italic; 
	text-align: center; 
	margin: 0 auto 0 auto; 
	padding-top: 36px;
	width: 300px;	
	clear: both; 
	}

.flash { 
	clear: both; 
	background: #CEE5F5; 
	padding: 0.5em; 
	border: 1px solid #AACBE2;
	width: 500px; 
	margin: 10px auto 0 auto; 
	text-align: center; 
	}

#lib_entry label, 
#base_step label { 
	width: 120px; 
	display: inline-block; 
	text-align: right;
	}
	
	#lib_entry label[generated=true] { 
		padding-left: 5px;
		}
	
#lib_entry input[type=text]	{ 
	width: 320px;
	}

.error[generated=true] { 
	font-size: 12px; 
	}

.navigation { 
	text-align: right; 
	margin-top: 20px;
	}

.footer { 
	height: 100px; 
	}

.edit { 
	width: 100%; 
	text-align: center; 
	padding-bottom: 10px; 
	}

.detail_table { 
	width: 100%; 
	padding-bottom: 20px;
	}

	.detail_table ul, li { 
		display: block; 
		}

.label_cell { 
	text-align: right; 
	width: 270px; 
	}

.data_cell { 
	padding-left: 32px;
	}

#base_step label { 
	width: 200px;
	}

	#base_step label[generated=true] { 
		margin-left: 5px; 
		width: 160px; 
		text-align: left;
		}

#base_step input[type=text] { 
	width: 180px;
	}

.margin { 
	margin-left: 60px; 
	}

#diel_step input[type=text], 
#taxis_step input[type=text] { 
	width: 30px; 
	}

#diel_min_depth, 
#taxis_min { 
	margin-left: 3px; 
	}

#diel_step label[generated=true], 
#taxis_step label[generated=true], 
#cap_step label[generated=true] { 
	margin-left: 5px; 
	}

#diel_step label[generated=true][for=diel_hours] { 
	position: absolute; 
	margin: 7px 0 0 55px;
	}

#diel_list a, 
#taxis_list a	{ 
	margin-left: 15px;
	}

#review_list h3	{ 
	margin-top: 10px;
	}

#vss, 
#variance { 
	width: 30px;
	}

#vss { 
	margin-left: 11px;
	}

#cap_step label[generated=true][for=swim_turning] {
	position: absolute; margin: 12px 0 0 310px; 
	}

#cap_step label[generated=true][for=nonswim_turning] {
	position: absolute; margin: 24px 0 0 310px;
	}

#keyword_div { 
	text-align: right; 
	}

	#keyword_div label { 
		display: inline block; 
		}

	#keyword_div input[type=text], 
#notes {
		width: 380px;
		margin-left: 0;
		}

#status {
	margin: 0 279px 0 0;
	}

#linear {
	margin-left: 205px;
	}

#linear_a {
	margin-top: 10px;
	}

#lifestage textarea {
	width: 356px;
	}

label[for=diel],
label[for=taxis],
label[for=capability],
label[for=settlement]{
	max-width: 1px;
	}

.search_results {
	border: 1px solid #00315c;
	font-size: 14px;
	width: 576px;
	background-color: #578FC2;
	border-radius: 10px;
	border-spacing: 0;
	}

	.search_results thead {
		font-size: 17px;
		text-align: left;
	}

	.search_results th {
		font-weight: normal;
		padding: 8px;
		border-bottom: 1px solid white;
	}

	.search_results tbody tr {
		background-color: #73BDFF;
	}

	.search_results tbody tr:hover {
		background-color: #40A5FF;
	}

	.search_results tbody td{
		border-bottom: 1px solid #fff;
		font-size: 12px;
		padding: 8px;
		vertical-align: middle;
	}

	.search_results a {
		font-size: 10px;
	}

	.search_results tfoot td {
		border: none;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		height: 5px;
	}

.table_cell td {
	padding: 2px;
	}

.lifestage_detail {
	font: 14px arial narrow;
	padding: 9px;
	margin-bottom:20px;
	text-align: left;
	border: 1px solid #00315c;
	height: 100%;
	background-color: #fff;
	cursor: move;
	min-height: 112px;
	overflow: hidden;
	}

	.lifestage_detail a {
	    text-decoration: none;
	    background-color: #EEE;
	    color: #333;
	    padding: 2px 6px 2px 6px;
	    border-top: 1px solid #CCC;
	    border-right: 1px solid #333;
	    border-bottom: 1px solid #333;
	    border-left: 1px solid #CCC;
		}

	.lifestage_detail a:hover {
		background-color: #ccc;
		}

	.lifestage_detail ul {
		float: right;
		margin-top: 4px;
		}

	.lifestage_detail li {
		margin-bottom: 9px;
		}

	.lifestage_detail p {
		display: inline-block;
		min-width: 90px;
		margin-top: 2px;
		vertical-align: top;
		margin-bottom: 0;
		}

	.lifestage_detail .p_data {
		width: 20px;
		}

	.lifestage_detail  {
		}

	.lifestage_detail .p_diel {
		margin-left: 15px;
		}

	.lifestage_detail .p_cap {
		min-width: 1px;
		}
	.lifestage_detail .cap_label {
		width: 175px;
	}

	.lifestage_detail .info {
		margin-right: 10px;
		padding: 6px 8px 8px 8px;
		float: right;
		background-color: #ccc;
		border: 1px dashed #00315c;
	}
		.lifestage_detail .info p {
			font-size: 14px;
			min-width: 110px;
		}

.bold {
	font-weight: bold;
	}
