{% extends "layout.html" %}
{% from "macros.html" import render_field %}

{% block page %}

    <!-- Search Form-->
    <form method=post action="{{url_for('library_search')}}">
        <dl class="edit">
            Search Parameters (Comma-delimited):
            <ul>
                <li class="navigation">{{ render_field(form.search_keywords) }}</li>
                {% if session.get('user_email') %}
                    <li class="navigation">{{ render_field(form.user_owned) }}</li>
                {% endif %}
                <input type=submit value=Search>
            </ul>
        </dl>
    </form>

    <!-- Library -->
    {% if session.get('user_email') %}
        <p><a href="{{url_for('library_wizard')}}">Create new library entry</a></p>
    {% else %}
        <p>Please login to create new library entries</p>
    {% endif %}

    {% if libraries %}
        Currently Owned Entries: <br />
        <table>
           {% for library in libraries %}
           <tr>
               <td>{{ library.name }}</td>
               <td><a href="{{ url_for( 'detail_view', library_id=library._id ) }}">detail</a></td>
               <!-- <td><a href="{blah{ url_for( 'edit_entry', library_id=library._id ) }blah}">edit</a></td> -->
           </tr>
           {% endfor %}
        </table>
    {% endif %}

    <a href="{{url_for('list_library')}}">Browse library</a>

{% endblock %}