{% extends "library_search.html" %}
{% block page %}
	{% if session['user_email'] %}
	    <p><a href="{{url_for('wizard_page_one')}}">add new entry</a></p>
	{% endif %}
	{% if libraries %}
		Currently Owned Entries: <br />
		<table>
		   {% for library in libraries %}
		   <tr>
		       <td>{{ library.Name }}</td>
		       <td><a href="{{ url_for( 'detail_view', entry_id=library._id ) }}">detail</a></td>
		       <!-- <td><a href="{blah{ url_for( 'edit_entry', library_name=library.Name ) }blah}">edit</a></td> -->
		   </tr>
		   {% endfor %}
		</table
		<!-- Link to table list -->
		<br />
		<a href="{{url_for('list_library')}}">List Entire Library</a>
	{% elif results %}
		Search Results: <br />
		<table>
			{% for result in results %}
				{% if result %}
					<tr>
						<td>{{ result }}</td>
						<td><a href="{{ url_for( 'detail_view', entry_id=result._id ) }}">detail</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		<br />
		<a href="{{url_for('index')}}">Index</a>
		<!-- Link to table list -->
		<br />
		<a href="{{url_for('list_library')}}">List Entire Library</a>
	{% else %}
		<a href="{{url_for('list_library')}}">List Entire Library</a>
	{% endif %}
{% endblock %}