<!doctype html>
<head>
    <title>LarvaLibrary</title>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='style.css') }}" />
    {% block javascript %}{% endblock %}
</head>
<body>
    {% block body %}
        <div class=page>
            <h1>Larva Library</h1>
            <ul class=navigation>
                {% if session['user_email'] %}
                    <li><a href="{{ url_for('logout') }}">sign out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login_facebook') }}">sign in w/ facebook</a></li>
                    <li><a href="{{ url_for('login_google') }}">sign in w/ google</a></li>
                {% endif %}
            </ul>
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block page %}{% endblock %}
        </div>
    {% endblock %}
</body>