{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
{% endblock %}
{% block page %}
    {% if libraries %}
        <!-- display library listings in a table format -->
        <table border="1">
                <tr><td>Name:</td><td>Genus:</td><td>Species:</td><td>Common:</td><td>Date Created:</td></tr>
            {% for library in libraries %}
                <tr class="table_cell">
                    <td>{{ library.name }}</td>
                    <td>{{ library.genus }}</td>
                    <td>{{ library.species }}</td>
                    <td>{{ library.common_name }}</td>
                    <td>{{ library.created }}</td>
                    <td>
                        <a href="{{ url_for( 'detail_view', library_id=library._id ) }}">detail</a>
                        {% if session.get('user_email',None) == library.user %}
                            <a class="edit" href="{{ url_for( 'library_edit_wizard', library_id=library._id ) }}">edit</a>
                        {% endif %}
                        <a href="{{ url_for( 'json_view', library_id=library._id ) }}">download</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}

    {% endif %}
    <a href="{{url_for('index')}}">Home</a> <br />
{% endblock %}