{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script text="text/javascript" src="{{url_for('static', filename='jquery-1.4.min.js')}}"></script>
    <script text="text/javascript" src="{{url_for('static', filename='ui/jquery.ui.core.min.js')}}"></script>
    <script text="text/javascript" src="{{url_for('static', filename='ui/jquery.ui.widget.min.js')}}"></script>
    <script text="text/javascript" src="{{url_for('static', filename='ui/jquery.ui.mouse.min.js')}}"></script>
    <script text="text/javascript" src="{{url_for('static', filename='ui/jquery.ui.sortable.min.js')}}"></script>
    <script type="text/javascript">
        function DisplayMapAndMarkers() {
            // init map
            var myOptions = {
                center    : new google.maps.LatLng(0, 0),
                zoom      : 1,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            
            poly = new google.maps.Polygon({ map: map, path: [], strokeColor: "#FF0000", fillColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2, fillOpacity: 0.35 });

            {% for position in entry.markers %}
                poly.getPath().push(new google.maps.LatLng({{position[0]}}, {{position[1]}}));
            {% endfor %}
        }
    </script>
    {% if auth %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.lifestage_detail').each(function(i) {
                    $(this).css('cursor','move');
                });

                $('#sortable').sortable({
                    update: function(event, ui) {
                        var lifestages = [];
                        c = 1;
                        $('.lifestage_detail').each(function(i) {
                            lifestages.push($(this).attr('id'));
                            // Update index
                            $(this).find("h2.num").text(c + ".)");
                            c++;
                        });
                        // Call the Library edit to arrange lifestages correctly
                        $.ajax({
                            url: "{{ url_for( 'reorder_lifestages', library_id=entry._id ) }}",
                            type: 'PUT',
                            data: { 'lifestages' : lifestages.join() }
                        });
                    }
                });
                $('#sortable').disableSelection();
            });
        </script>
    {% endif %}
{% endblock %}

{% block page %}
    {% if entry %}

        {% if auth %}
        <div class="edit">
            <a class="edit" href="{{ url_for( 'library_edit_wizard', library_id=entry._id ) }}">Edit Library Item</a>
            <span style="margin-left:10px;"><a href="{{url_for('json_view', library_id=entry._id)}}">Download For External Use</a></span>
            <span style="margin-left:10px;"><a href="{{url_for('library_destroy', library_id=entry._id)}}">Delete</a></span>
        </div>
        {% endif %}

        <!-- show the entry in a table structure -->
        <table class="detail_table">
            <tr><td class="label_cell">
                Name:
            </td><td class="data_cell">
                {{ entry.name }}
            </td></tr>
            <tr><td class="label_cell">
                Genus:
            </td><td class="data_cell">
                {{ entry.genus }}
            </td></tr>
            <tr><td class="label_cell">
                Species:
            </td><td class="data_cell">
                {{ entry.species }}
            </td></tr>
            <tr><td class="label_cell">
                Common Name:
            </td><td class="data_cell">
                {{ entry.common_name }}
            </td></tr>
            <tr><td class="label_cell">
                Notes:
            </td><td class="data_cell">
                {{ entry.notes }}
            </td></tr>
            <tr><td class="label_cell">
                Keywords:
            </td><td class="data_cell"><ul>
                {% for keyword in entry.keywords %}
                    <li>{{ keyword }}</li>
                {% endfor %}
            </ul></td></tr>
            <tr><td class="label_cell">
                Geo-Keywords:
            </td><td class="data_cell"><ul>
                {% for keyword in entry.geo_keywords %}
                    <li>{{ keyword }}</li>
                {% endfor %}
            </ul></td></tr>
        </table>
        <table>
            <tr><td>
                <div id="map_canvas" style="width:570px;height:350px;border:1px solid #00315C;margin-bottom:20px;"></div>
                <script type="text/javascript">DisplayMapAndMarkers();</script>
            </td></tr>
        </table>
        
        <table class="detail_table">
            <tr><td class="label_cell">
                Owned By:
            </td><td class="data_cell">
                {{ entry.user }}
            </td></tr>
            <tr><td class="label_cell">
                Created:
            </td><td class="data_cell">
                {{ entry.created }}
            </td></tr>
            <tr><td class="label_cell">
                Permissions:
            </td><td class="data_cell">
                {{ entry.status }}
            </td></tr>
        </table>

        <strong>Lifestages</strong>
        <br />
        <br />
        <span style="margin-left:10px;"><a href="{{url_for('lifestage_wizard', library_id=entry._id)}}">Add Lifestage</a></span><br />
        <br /><br />
            <div id="sortable" style="display: block;">
                {% for lifestage in entry.lifestages %}
                    {{ lifestage_summary(lifestage, entry._id, loop.index) }}
                {% endfor %}
            <div>
    {% endif %}
    <br />
{% endblock %}

{% macro lifestage_summary(lifestage, library_id, loop_index) -%}
    <div class="lifestage_detail" id="{{lifestage._id}}">
        <h2 style="float: left;" class="num">{{ loop_index }}.)</h2>
        <h2 style="margin-left: 5px; float: left;">{{ lifestage.name | truncate(45) }}</h2>
        
        <a style="float: right; margin: 15px 2px;" href="{{url_for('clone_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Clone</a>
        <a style="float: right; margin: 15px 2px;" href="{{url_for('edit_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Edit</a>
        <a style="float: right; margin: 15px 2px;" href="{{url_for('delete_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Delete</a>

        <div class="clear"></div>

        <p class="bold" style="margin-top:10px;">Duration: {{ lifestage.duration }} days</p>
        <br />
        {% if lifestage.linear_a is number and lifestage.linear_b is number %}
            <p style="font-style:italic;margin:2px 15px;font-size:13px">Growth determined by temperature</p><br />
            <p style="margin: 0px 15px;">Linear A:</p><p class="p_data">{{lifestage.linear_a}}</p><br />
            <p style="margin: 0px 15px;">Linear B:</p><p class="p_data">{{lifestage.linear_b}}</p><br />
        {% else %}
            <p style="font-style:italic;margin:2px 15px;font-size:13px">Growth not determined by temperature</p><br />
        {% endif %}

        <p class="bold" style="margin-top:10px;">Notes:</p>
        <div style="margin-left:15px;">
        {% if lifestage.notes %}
            {{ lifestage.notes }}
        {% else %}
            <p style="margin-top:10px;">None</p>
        {% endif %}
        </div>

        <p class="bold" style="margin-top:10px;">Configured Diel:</p>
        <div style="margin-left:15px;">
        {% if lifestage.diel[0] is defined %}
            {%- for dtry in lifestage.diel %}
                <p class="p_diel">{{dtry}}</p>
            {% endfor %}
        {% else %}
            <p style="margin-top:10px;">None</p>
        {% endif %}
        </div>

        <p class="bold" style="margin-top:10px;">Configured Taxis:</p>
        <div style="margin-left:15px;">
        {% if lifestage.taxis[0] is defined %}
            {%- for ztry in lifestage.taxis %}
                <p class="p_diel">{{ztry}}</p>
            {% endfor %}
        {% else %}
            <p style="margin-top:10px;">None</p>
        {% endif %}
        </div>

        <p class="bold" style="margin-top:10px;">Configured Capabilities:</p>
        <div style="margin-left:15px;">
        {% if lifestage.capability.vss is defined %}
            <p class="cap_label">Vertical Swimming Speed (m/s):</p> <p class="p_cap">{{lifestage.capability.vss}}</p><br />
            <p class="cap_label">Swimming Speed Variance (m/s):</p> <p class="p_cap">{{lifestage.capability.variance}}</p><br />
            <p class="cap_label">Swimming turning direction:</p> <p class="p_cap">{{lifestage.capability.swim_turning}}</p><br />
            <p class="cap_label">Non-swimming turning direction:</p> <p class="p_cap">{{lifestage.capability.nonswim_turning}}</p>
        {% else %}
            <p style="margin-top:10px;">None</p>
        {% endif %}
        </div>

        <p class="bold" style="margin-top:10px;">Configured Settlement:</p>
        <div style="margin-left:15px;">
        {% if lifestage.settlement.type is defined %}
            <p class="cap_label">Type:</p> <p class="p_cap">{{lifestage.settlement.type}}</p><br />
            <p class="cap_label">Upper (m):</p> <p class="p_cap">{{lifestage.settlement.upper}}</p><br />
            <p class="cap_label">Lower (m):</p> <p class="p_cap">{{lifestage.settlement.lower}}</p>
        {% else %}
            <p style="margin-top:10px;">None</p>
        {% endif %}
        </div>
    </div>
{%- endmacro %}