{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function DisplayMapAndMarkers() {
            // init map
            var myOptions = {
                center    : new google.maps.LatLng(0, 0),
                zoom      : 1,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            
            poly = new google.maps.Polygon({ map: map, path: [], strokeColor: "#FF0000", fillColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2, fillOpacity: 0.35 });

            {% for position in entry.markers %}
                poly.getPath().push(new google.maps.LatLng({{position[0]}}, {{position[1]}}));
            {% endfor %}
        }
    </script>
{% endblock %}

{% block page %}
    {% if entry %}

        {% if session.get('user_email', None) == entry.user %}
        <div class=edit>
            <a class="edit" href="{{ url_for( 'library_edit_wizard', library_id=entry._id ) }}">edit</a>
        </div>
        {% endif %}

        <!-- show the entry in a table structure -->
        <table class="detail_table">
            <tr><td class="label_cell">
                Name:
            </td><td class="data_cell">
                {{ entry.name }}
            </td></tr>
            <tr><td class="label_cell">
                Genus:
            </td><td class="data_cell">
                {{ entry.genus }}
            </td></tr>
            <tr><td class="label_cell">
                Species:
            </td><td class="data_cell">
                {{ entry.species }}
            </td></tr>
            <tr><td class="label_cell">
                Common Name:
            </td><td class="data_cell">
                {{ entry.common_name }}
            </td></tr>
            <tr><td class="label_cell">
                Notes:
            </td><td class="data_cell">
                {{ entry.notes }}
            </td></tr>
            <tr><td class="label_cell">
                Keywords:
            </td><td class="data_cell"><ul>
                {% for keyword in entry.keywords %}
                    <li>{{ keyword }}</li>
                {% endfor %}
            </ul></td></tr>
            <tr><td class="label_cell">
                Geo-Keywords:
            </td><td class="data_cell"><ul>
                {% for keyword in entry.geo_keywords %}
                    <li>{{ keyword }}</li>
                {% endfor %}
            </ul></td></tr>
        </table>
        <table>
            <tr><td>
                <div id="map_canvas" style="width:570px;height:350px;border:1px solid #00315C;margin-bottom:20px;"></div>
                <script type="text/javascript">DisplayMapAndMarkers();</script>
            </td></tr>
        </table>
        
        <table class="detail_table">
            <tr><td class="label_cell">
                Owned By:
            </td><td class="data_cell">
                {{ entry.user }}
            </td></tr>
            <tr><td class="label_cell">
                Created:
            </td><td class="data_cell">
                {{ entry.created }}
            </td></tr>
            <tr><td class="label_cell">
                Permissions:
            </td><td class="data_cell">
                {{ entry.status }}
            </td></tr>
        </table>

        <strong>Lifestages</strong>
        <br /><br />
            {% for lifestage in entry.lifestages %}
                {{ lifestage_summary(lifestage, entry._id) }}
            {% endfor %}
        <span style="margin-left:10px;"><a href="{{url_for('lifestage_wizard', library_id=entry._id)}}">Add Lifestage</a></span><br />

    {% endif %}
    <br />
    <span style="margin-left:10px;"><a href="{{url_for('json_view', library_id=entry._id)}}">Download For External Use</a></span><br /><br />
    <span style="margin-left:10px;"><a href="{{url_for('index')}}">Home</a></span>
{% endblock %}

{% macro lifestage_summary(lifestage, library_id) -%}
    <div class="lifestage_detail">
        <ul>
            <li><a href="{{url_for('clone_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Clone</a></li>
            <li><a href="{{url_for('edit_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Edit</a></li>
            <li><a href="{{url_for('delete_lifestage', library_id=library_id, lifestage_id=lifestage._id)}}">Delete</a></li>
        </ul>
        <p>Name:</p><p class="p_data">{{lifestage.name}}</p>
        <p>Duration (days):</p><p class="p_data">{{lifestage.duration}}</p>
            {% if lifestage.linear_a is number and lifestage.linear_b is number %}
                <p>Linear A:</p><p class="p_data">{{lifestage.linear_a}}</p>
                <p>Linear B:</p><p class="p_data">{{lifestage.linear_b}}</p>
            {% else %}
                <p style="font-style:italic;margin:13px 0 8px 8px;">Growth not determined by temperature</p>
            {% endif %}
            <p>Notes:</p><p class="p_note">{{lifestage.notes}}</p>
            
            <p class="bold" style="margin-top:10px;">Configured Diel:</p>
            {% if lifestage.diel[0] is defined %}
                
            {% else %}
                <p style="margin-top:10px;">None</p>
            {% endif %}
            {%- for dtry in lifestage.diel %}
                <p class="p_diel">{{dtry}}</p>
            {% endfor %}
            
            <p class="bold" style="margin-top:10px;">Configured Taxis:</p>
            {% if lifestage.taxis[0] is defined %}
                
            {% else %}
                <p style="margin-top:10px;">None</p>
            {% endif %}
            {%- for ztry in lifestage.taxis %}
                <p class="p_diel">{{ztry}}</p>
            {% endfor %}


            <p class="bold" style="margin-top:10px;">Configured Capabilities:</p>
            {% if lifestage.capability.vss is defined %}
            <div style="margin-left:15px;">
                <p class="cap_label">Vertical Swimming Speed (m/s):</p> <p class="p_cap">{{lifestage.capability.vss}}</p>
                <p class="cap_label">Swimming Speed Variance (m/s):</p> <p class="p_cap">{{lifestage.capability.variance}}</p>
                <p class="cap_label">Swimming turning direction:</p> <p class="p_cap">{{lifestage.capability.swim_turning}}</p>
                <p class="cap_label">Non-swimming turning direction:</p> <p class="p_cap">{{lifestage.capability.nonswim_turning}}</p>
            </div>
            {% else %}
                <p style="margin-top:10px;">None</p>
            {% endif %}

            <p class="bold" style="margin-top:10px;">Configured Settlement:</p>
            {% if lifestage.settlement.type is defined %}
                <div style="margin-left:15px;">
                    <p class="cap_label">Type:</p> <p class="p_cap">{{lifestage.settlement.type}}</p>
                    <p class="cap_label">Upper (m):</p> <p class="p_cap">{{lifestage.settlement.upper}}</p>
                    <p class="cap_label">Lower (m):</p> <p class="p_cap">{{lifestage.settlement.lower}}</p>
                </div>
            {% else %}
                <p style="margin-top:10px;">None</p>
            {% endif %}
    </div>
{%- endmacro %}