{% from "macros.html" import render_field, render_check, time_listings, timezones %}
{% extends "layout.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='ui/themes/smoothness/jquery-ui.smoothness.css') }}" />
{% endblock %}

{% block page %}

    <div id="form_wrapper">
        <form name="lifestage" id="lifestage" method="post" action="{{ request.path }}">
            <div class="step unidirectional" id="base_step">
                {{ render_field(form.name) }}<br />

                <h3>Duration / Growth</h3>
                {{ render_field(form.duration) }}<br />

                {{ render_check(form.linear) }}
                <span style="margin-left: -208px;">Use temperature to determine lifstage changes</span> <br />
                <span style="margin-left:223px;">See explanation here: LINK</span><br />
                {{ render_field(form.linear_a) }}
                {{ render_field(form.linear_b) }}<br />
                <br />

                {{ render_field(form.notes) }}<br />

                <div style="margin-left:201px;">
                    {{ render_check(form.capability) }}<br />
                    <div style="margin:5px 0 5px 30px;font-style:italic;">Note: Capabilities are required if implementing a Diel or Sensory behavior</div>
                    {{ render_check(form.diel) }}<br />
                    {{ render_check(form.taxis) }}<br />
                    {{ render_check(form.settlement) }}<br />
                </div>
            </div>

            <div class="step" id="cap_step">
                <h2>Capability</h2>
                <div style="margin:15px 0 0 70px;">
                    {{ render_field(form.vss) }}<br />
                    {{ render_field(form.variance) }}<br /><br />
                    {{ render_field(form.swim_turning) }}<br />
                    {{ render_field(form.nonswim_turning) }}<br />
                </div>
            </div>

            <div class="step" id="diel_step">
                <h2>Diel</h2>
                <div class=margin>
                    <input type="radio" name="diel_type" id="specifictime" value="specifictime" />Specific Time
                    {{ time_listings() }} {{ timezones() }}

                    <div style="margin:2px 0 0 32px;font-style:italic;">or</div>

                    <input type="radio" name="diel_type" id="sun" value="cycles" checked="checked" />Sun Cycles
                    <select id="cycles" name="cycles">
                        <option value="sunrise" selected="selected">Sunrise</ofption>
                        <option value="sunset">Sunset</option>
                    </select>
                    <input type="radio" name="pmhours" value="+" checked="checked"/> +
                    <input type="radio" name="pmhours" value="-"/> -
                    {{ render_field(form.diel_hours) }} hours 
                    <br />
                    <br />

                    <table>
                        <tr><td><label>Desired Depth:</label></td></tr>
                        <tr><td></td><td>{{ render_field(form.diel_min_depth) }}</td></tr>
                        <tr><td></td><td>{{ render_field(form.diel_max_depth) }}</td></tr>
                    </table>
                    <br />

                    <button type="button" name="diel_add" id="diel_add">Add</button>
                </div>
                <br />
                <h3>Currently configured</h3>
                <br />
                <ul id="diel_list"></ul>

                <!-- holds the JSON data for POSTing -->
                {{ render_field(form.diel_data) }}
            </div>
            
            <div class="step" id="taxis_step">
                <h2>Taxis</h2>
                <div style="margin-left:80px;">
                    {{ render_field(form.variable) }}

                    <br />
                    <br />
                    <table>
                        <tr><td style="width:240px;">{{ render_field(form.taxis_min) }}</td><td>{{ render_field(form.taxis_max) }}</td></tr>
                    </table>
                    <table style="margin-top:10px;">
                        <tr><td>{{ render_field(form.taxis_grad) }}</td></tr>
                    </table>
                    <br />

                    <button type="button" name="taxis_add" id="taxis_add">Add</button>

                </div><br />
                <h3>Currently configured</h3>
                <br />
                <ul id="taxis_list"></ul>

                <!-- holds the JSON data for POSTing -->
                {{ render_field(form.taxis_data) }}
            </div>

            <div class="step" id="settle_step">
                <h2>Settlement</h2>
                <p>
                    As the organism grows to the final larval stage, settle into adult habitat occurs.
                    This dialog guides you to set up the period for finding appropriate habitat for settlement,
                    and the location of that habitat.
                </p>
                <div style="margin:15px 0 0 70px;">
                    {{ render_field(form.settle_type) }}<br />
                    {{ render_field(form.settle_upper) }}<br />
                    {{ render_field(form.settle_lower) }}<br />
                </div>
            </div>

            <div class="submit step" id="review_step">
                <h2>Review</h2>
                <ul id="review_list"></ul>
            </div>
            <div class="navigation">
                <button type="button" name="backward" class="backward">Backward</button>
                <button type="button" name="forward" class="forward">Forward</button>
                <button type="submit" name="process" class="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery-1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='ui/jquery-ui-1.8.12.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.wizard.js') }}"></script>

    <script type="text/javascript">

        // Array to hold the DielInput elements
        var diel_inputs = [];
        var taxis_inputs = [];

        function TaxisInput(variable, min, max, gradient) {
            this.variable = variable;
            this.units = "";
            if (this.variable == "sea_water_temperature") {
                this.units = "°C";
            } else if (this.variable == "sea_water_salinity") {
                this.units = "PSU";
            }
            this.min = min;
            this.max = max;
            this.gradient = gradient;

            this.toString = function() {
                return this.variable + " (" + this.units + "): " + this.min + " -> " + this.max + " +/- " + this.gradient;
            }

            this.toData = function() {
                return {"variable": this.variable, "min": this.min, "max": this.max, "gradient": this.gradient, "units": this.units };
            }
        }

        function DielInput(diel_type, diel_time, timezone, cycle, plus_or_minus, hours, min, max) {
            this.diel_type = diel_type;
            this.diel_time = diel_time;
            this.timezone = timezone;
            this.cycle = cycle;
            this.plus_or_minus = plus_or_minus;
            this.hours = hours;
            this.min = min;
            this.max = max;

            this.toString = function() {
                var str = "";
                if (this.diel_type == 'specifictime') {
                    str = "At " + this.diel_time + " GMT" + this.timezone +  ": Move towards " + this.min + "m -> " + this.max + "m";
                } else if (this.diel_type == 'cycles') {
                    str = "At " + this.cycle + " " + this.plus_or_minus + " " + this.hours + " hours: Move towards " + this.min + "m -> " + this.max + "m";
                }
                return str;
            }

            this.toData = function() {
                var data = {"diel_type": this.diel_type };
                data['diel_time'] = this.diel_time;
                data['timezone'] = this.timezone;
                data['cycle'] = this.cycle;
                data['plus_or_minus'] = this.plus_or_minus;
                data['hours'] = this.hours;
                data['min'] = this.min;
                data['max'] = this.max;
                return data;
            }
        }

        function dataToObjects() {

            // DIEL
            diel_data = $("#diel_data").val();
            diel_inputs = [];
            if (diel_data != "") {
                parsed = JSON.parse(diel_data);
                if ($.isArray(parsed)) {
                    $.each(parsed, function(i,v) {
                        diel_inputs.push(getDiel(v));
                    });
                } else {
                    diel_inputs.push(getDiel(parsed));
                }
            }
            function getDiel(obj) {
                return new DielInput(obj['diel_type'],obj['diel_time'],obj['timezone'],obj['cycle'],obj['plus_or_minus'],obj['hours'],obj['min'],obj['max']);
            }

            // TAXIS
            taxis_data = $("#taxis_data").val();
            taxis_inputs = [];
            if (taxis_data != "") {
                parsed = JSON.parse(taxis_data);
                if ($.isArray(parsed)) {
                    $.each(parsed, function(i,v) {
                        taxis_inputs.push(getTaxis(v));
                    });
                } else {
                    taxis_inputs.push(getTaxis(parsed));
                }
            }
            function getTaxis(obj) {
                return new TaxisInput(obj['variable'],obj['min'],obj['max'],obj['gradient']);
            }

        }

        function updateList(list, data, array) {
            // Clear the current list
            $("#" + list).empty();
            var str = "";
            var d = [];
            $.each(array, function(i,v) {
                str = v.toString();
                d.push(v.toData());
                $("#" + list)
                    .append($('<li>')
                        .append(str)
                    .append($('<a>')
                        .attr('href', '#')
                        .text('Remove')
                        .click(function(e) { 
                            array.splice(i,1);
                            updateList(list, data, array)
                        })));
            });

            $("#" + data).val(JSON.stringify(d));
        }

        function move_or_stay(state, checkbox, current_step) {
            // Should we be showing the current step?
             if (!$('#' + checkbox).is(':checked')) {
                // clear any input in fields
                $("#" + current_step + " :input").attr("disabled", true);

                // Move on
                if (state.isMovingForward) {
                    $("#lifestage").wizard("forward", 1);
                } else {
                    $("#lifestage").wizard("backward", 1);
                }
            } else {
                // Enable all of the inputs on this page
                $("#" + current_step + " :input").removeAttr("disabled");
            }
        }

        function fieldString(name) {
            return $("<li>").append($("label[for='" + name + "']").first().text() + ": " + $("input[name='" + name + "']").val());
        }

        function areaString(name) {
            return $("<li>").append($("label[for='" + name + "']").first().text() + ": " + $("textarea[name='" + name + "']").val());
        }

        function radioString(label, name) {
            return $("<li>").append(label + ": " + $("input[name='" + name + "']:checked").val());
        }

        function reviewFieldList(title, checkbox, list) {
            $("#review_list").append("<h3>" + title + "</h3>");
            $("#review_list").append("<ul>");

            if (($('#' + checkbox).is(':checked')) && (list.length > 0)) {
                $.each(list, function(i,v) {
                    $("#review_list").append($("<li>").append(v.toString()));
                });
            } else {
                $("#review_list").append($("<li>").append("None"));
            }
            $("#review_list").append("</ul>");
        }

        function updateReview() {
            $("#review_list").html("");
            $("#review_list")
                .append(fieldString('name'))
                .append(fieldString('duration'));

            if ($('#linear').is(':checked')) {           
                $("#review_list")
                    .append(fieldString('linear_a'))
                    .append(fieldString('linear_b'));
            } else {
                $("#review_list").append($("<li>").append("Growth not determined by temperature"));
            }

            $("#review_list").append(areaString('notes'));

            // Diel
            reviewFieldList("Diel", "diel", diel_inputs);

            // Taxis
            reviewFieldList("Taxis", "taxis", taxis_inputs);

            // Capability
            $("#review_list").append("<h3>Capability</h3>");
            if ($('#capability').is(':checked')) {
                $("#review_list")
                    .append(fieldString('vss'))
                    .append(fieldString('variance'))
                    .append(radioString('Swimming direction', 'swim_turning'))
                    .append(radioString('Non-swimming direction', 'nonswim_turning'));
            } else {
                $("#review_list").append($("<li>").append("None"));
            }

            // Settlement
            $("#review_list").append("<h3>Settlement</h3>");
            if ($('#settlement').is(':checked')) {
                $("#review_list")
                    .append(radioString('Type', 'settle_type'))
                    .append(fieldString('settle_upper'))
                    .append(fieldString('settle_lower'))
            } else {
                $("#review_list").append($("<li>").append("None"));
            }
        }

        $(document).ready(function() {

            dataToObjects();

            // Wizard
            $("#lifestage").wizard({
                beforeForward: function( event, state ) {
                    // Only check on the first step, capabilities, and settlement
                    if ((state.stepIndex == 1) || (state.stepIndex == 2) || (state.stepIndex == 5)) {
                        var inputs = $(this).wizard('state').step.find(':input');
                        return !inputs.length || !!inputs.valid();
                    }
                },
                afterSelect : function( event, state ) {

                    // Capability step
                    if (state.stepIndex == 1) {
                        move_or_stay(state, "capability", "cap_step");
                    }

                    // Diel step
                    if (state.stepIndex == 2) {
                        move_or_stay(state, "diel", "diel_step");
                        updateList("diel_list", "diel_data", diel_inputs);
                    }

                    // Taxis step
                    if (state.stepIndex == 3) {
                        move_or_stay(state, "taxis", "taxis_step");
                        updateList("taxis_list", "taxis_data", taxis_inputs);
                    }

                    // Settlement step
                    if (state.stepIndex == 4) {
                        move_or_stay(state, "settlement", "settle_step");
                    }

                    // Review step
                    if (state.stepIndex == 5) {
                        updateReview();
                    }
                }
            }).validate({
                onkeyup: false,
                onfocusout: false,
                onsubmit: true,
                errorPlacement: function(error, element) { 
                    if ( element.is(':radio') || element.is(':checkbox') ) {
                        error.insertBefore( element.next() );
                    } else { 
                        error.insertAfter( element );
                    }
                },
                rules: {
                    name: {
                        required: true
                    },
                    vss: {
                        required: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        }
                    },
                    variance: {
                        required: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        }
                    },
                    swim_turning: {
                        required: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        }
                    },
                    nonswim_turning: {
                        required: {
                            depends: function() {
                                return $("#capability").is(":checked");
                            }
                        }
                    },
                    duration: {
                        required: true,
                        number: true
                    },
                    linear_a: {
                        required: {
                            depends: function() {
                                return $("#linear").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#linear").is(":checked");
                            }
                        }
                    },
                    linear_b: {
                        required: {
                            depends: function() {
                                return $("#linear").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#linear").is(":checked");
                            }
                        }
                    },
                    diel_hours: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked") && $("#sun").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#diel").is(":checked") && $("#sun").is(":checked");
                            }
                        }
                    },
                    diel_min_depth: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                        },
                        max: function() {
                            return $("#diel_max_depth").val();
                        }
                    },
                    diel_max_depth: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                        },
                        min: function() {
                            return $("#diel_min_depth").val();
                        }
                    },
                    taxis_min: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        },
                        max: function() {
                            return $("#taxis_max").val();
                        }
                    },
                    taxis_max: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        },
                        min: function() {
                            return $("#taxis_min").val();
                        }
                    },
                    taxis_grad: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                        }
                    },
                    settle_upper: {
                        required: {
                            depends: function() {
                                return $("#settlement").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#settlement").is(":checked");
                            }
                        }
                    },
                    settle_lower: {
                        required: {
                            depends: function() {
                                return $("#settlement").is(":checked");
                            }
                        },
                        number: {
                            depends: function() {
                                return $("#settlement").is(":checked");
                            }
                        }
                    },
                    settle_type: {
                        required: {
                            depends: function() {
                                return $("#settlement").is(":checked");
                            }
                        }
                    },
                },
                messages: {
                    name: {
                        required: "Provide a behavior name"
                    },
                    vss: {
                        required: "Provide a vertical swimming speed"
                    },
                    duration: {
                        required: "Provide a duration"
                    },
                    taxis_max: {
                        min: "Min must be less than max"
                    },
                    taxis_min: {
                        max: "Max must be more than min"
                    },
                    diel_max_depth: {
                        min: "Min depth must be less than max depth"
                    },
                    diel_min_depth: {
                        max: "Max depth must be more than min depth"
                    }
                }
            });

            $("#diel_add").click(function(event) {

                var inputs = $("#lifestage").wizard('state').step.find(':input');
                if (inputs.length && !!inputs.valid()) {
                    var diel_type = $('input:radio[name=diel_type]:checked').val();
                    var diel_time = $("#times").val();
                    var timezone = $("#timezones").val();
                    var cycle = $("#cycles").val();
                    var plus_or_minus = $('input:radio[name=pmhours]:checked').val();
                    var hours = $("#diel_hours").val();
                    var min = $("#diel_min_depth").val();
                    var max = $("#diel_max_depth").val();
                    diel_inputs.push(new DielInput(diel_type,diel_time,timezone,cycle,plus_or_minus,hours,min,max));
                    updateList("diel_list", "diel_data", diel_inputs);
                }
            });

            $("#taxis_add").click(function(event) {

                var inputs = $("#lifestage").wizard('state').step.find(':input');
                if (inputs.length && !!inputs.valid()) {
                    var variable = $('#variable').val();
                    var gradient = $("#taxis_grad").val();
                    var min = $("#taxis_min").val();
                    var max = $("#taxis_max").val();
                    taxis_inputs.push(new TaxisInput(variable, min, max, gradient));
                    updateList("taxis_list", "taxis_data", taxis_inputs);
                }
            });

            $("#capability:input").change(function(event) {
                if (!$(this).is(':checked')) {
                    $("#diel:input").attr("checked", "");
                    $("#taxis:input").attr("checked", "");
                }
            });

            $("#diel:input").change(function(event) {
                if ($(this).is(':checked')) {
                    $("#capability:input").attr("checked", "checked");
                }
            });

            $("#taxis:input").change(function(event) {
                if ($(this).is(':checked')) {
                    $("#capability:input").attr("checked", "checked");
                }
            });
        });   

    </script>
{% endblock %}

