{% from "macros.html" import render_field, time_listings, timezones %}
{% extends "layout.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='ui/themes/smoothness/jquery-ui.smoothness.css') }}" />
{% endblock %}

{% block page %}

    <div id="form_wrapper">
        <form name="lifestage" id="lifestage" method="post" action="{{url_for('lifestage_wizard', library_id=entry)}}">
            <div class="step unidirectional" id="base_step">
                {{ render_field(form.name) }}<br />
                {{ render_field(form.vss) }}<br />
                {{ render_field(form.duration) }}<br />
                {{ render_field(form.diel) }}<br />
                {{ render_field(form.taxis) }}<br />
            </div>
            <div class="step" id="diel_step">
                <h2>Diel</h2>

                <input type="radio" name="diel_type" id="specifictime" value="specifictime" />Specific Time
                {{ time_listings() }} {{ timezones() }}

                <br />

                <input type="radio" name="diel_type" id="sun" value="cycles" checked="checked" />Sun Cycles
                <select id="cycles" name="cycles">
                    <option value="sunrise" selected="selected">Sunrise</ofption>
                    <option value="sunset">Sunset</option>
                </select>
                <input type="radio" name="pmhours" value="+" checked="checked"/> +
                <input type="radio" name="pmhours" value="-"/> -
                {{ render_field(form.diel_hours) }} hours 
                <br />
                <br />

                <label>Desired Depth</label>
                {{ render_field(form.diel_min_depth) }}
                {{ render_field(form.diel_max_depth) }}
                <br />
                <br />

                <button type="button" name="diel_add" id="diel_add">Add</button>

                <h3>Currently configured</h3>
                <ul id="diel_list"></ul>

                <!-- holds the JSON data for POSTing -->
                {{ render_field(form.diel_data) }}
            </div>
            <div class="step" id="taxis_step">
                <h2>Taxis</h2>

                <label for="taxis_variable">Variable</label>
                <select id="taxis_variable">
                    <option value="sea_water_salinity" selected="selected">Salinity (PSU)</option>
                    <option value="sea_water_temperature">Temperature (deg C)</option>
                </select>

                <br />
                <br />

                {{ render_field(form.taxis_min) }}
                {{ render_field(form.taxis_max) }}
                <br />
                <br />

                {{ render_field(form.taxis_grad) }}
                <br />
                <br />

                <button type="button" name="taxis_add" id="taxis_add">Add</button>

                <h3>Currently configured</h3>
                <ul id="taxis_list"></ul>

                <!-- holds the JSON data for POSTing -->
                {{ render_field(form.taxis_data) }}
            </div>
            <div class="submit step" id="review_step">
                <h2>Review</h2>
                <ul id="review_list"></ul>
            </div>
            <div class="navigation">
                <ul class="clearfix">
                    <li>
                        <button type="button" name="backward" class="backward">Backward</button>
                    </li>
                    <li>
                        <button type="button" name="forward" class="forward">Forward</button>
                    </li>
                    <li>
                        <button type="submit" name="process" class="submit">Submit</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery-1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='ui/jquery-ui-1.8.12.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery.wizard.js') }}"></script>

    <script type="text/javascript">

        // Array to hold the DielInput elements
        var diel_inputs = [];
        var taxis_inputs = [];

        function TaxisInput(variable, min, max, gradient) {
            this.variable = variable;
            this.units = "";
            if (this.variable == "sea_water_temperature") {
                this.units = "°C";
            } else if (this.variable == "sea_water_salinity") {
                this.units = "PSU";
            }
            this.min = min;
            this.max = max;
            this.gradient = gradient;

            this.toString = function() {
                return this.variable + " (" + this.units + "): " + this.min + " -> " + this.max + " +/- " + this.gradient;
            }

            this.toData = function() {
                return {"variable": this.variable, "min": this.min, "max": this.max, "gradient": this.gradient, "units": this.units };
            }
        }

        function DielInput(diel_type, diel_time, timezone, cycle, plus_or_minus, hours, min, max) {
            this.diel_type = diel_type;
            this.diel_time = diel_time;
            this.timezone = timezone;
            this.cycle = cycle;
            this.plus_or_minus = plus_or_minus;
            this.hours = hours;
            this.min = min;
            this.max = max;

            this.toString = function() {
                var str = "";
                if (this.diel_type == 'specifictime') {
                    str = "At " + this.diel_time + " GMT" + this.timezone +  ": Move towards " + this.min + "m -> " + this.max + "m";
                } else if (this.diel_type == 'cycles') {
                    str = "At " + this.cycle + " " + this.plus_or_minus + " " + this.hours + " hours: Move towards " + this.min + "m -> " + this.max + "m";
                }
                return str;
            }

            this.toData = function() {
                var data = {"diel_type": this.diel_type };
                data['diel_time'] = this.diel_time;
                data['timezone'] = this.timezone;
                data['cycle'] = this.cycle;
                data['plus_or_minus'] = this.plus_or_minus;
                data['hours'] = this.hours;
                data['min'] = this.min;
                data['max'] = this.max;
                return data;
            }
        }

        function dataToObjects() {

            // DIEL
            diel_data = $("#diel_data").val();
            diel_inputs = [];
            if (diel_data != "") {
                parsed = JSON.parse(diel_data);
                if ($.isArray(parsed)) {
                    $.each(parsed, function(i,v) {
                        diel_inputs.push(getDiel(v));
                    });
                } else {
                    diel_inputs.push(getDiel(parsed));
                }
            }
            function getDiel(obj) {
                return new DielInput(obj['diel_type'],obj['diel_time'],obj['timezone'],obj['cycle'],obj['plus_or_minus'],obj['hours'],obj['min'],obj['max']);
            }

            // TAXIS
            taxis_data = $("#taxis_data").val();
            taxis_inputs = [];
            if (taxis_data != "") {
                parsed = JSON.parse(taxis_data);
                if ($.isArray(parsed)) {
                    $.each(parsed, function(i,v) {
                        taxis_inputs.push(getTaxis(v));
                    });
                } else {
                    taxis_inputs.push(getTaxis(parsed));
                }
            }
            function getTaxis(obj) {
                return new TaxisInput(obj['variable'],obj['min'],obj['max'],obj['gradient']);
            }

        }

        function updateList(list, data, array) {
            // Clear the current list
            $("#" + list).empty();
            var str = "";
            var d = [];
            $.each(array, function(i,v) {
                str = v.toString();
                d.push(v.toData());
                $("#" + list)
                    .append($('<li>')
                        .append(str)
                    .append($('<a>')
                        .attr('href', '#')
                        .text('Remove')
                        .click(function(e) { 
                            array.splice(i,1);
                            updateList(list, data, array)
                        })));
            });

            $("#" + data).val(JSON.stringify(d));
        }

        function move_or_stay(state, checkbox, current_step) {
            // Should we be showing the current step?
             if (!$('#' + checkbox).is(':checked')) {
                // clear any input in fields
                $("#" + current_step + " :input").attr("disabled", true);

                // Move on
                if (state.isMovingForward) {
                    $("#lifestage").wizard("forward", 1);
                } else {
                    $("#lifestage").wizard("backward", 1);
                }
            } else {
                // Enable all of the inputs on this page
                $("#" + current_step + " :input").removeAttr("disabled");
            }
        }

        function fieldString(name) {
            return $("<li>").append($("label[for='" + name + "']").first().text() + ": " + $("input[name='" + name + "']").val());
        }

        function reviewFieldList(title, list) {
            $("#review_list").append("<h3>" + title + "</h3>");
            $("#review_list").append("<ul>");
            if (list.length > 0) {
                $.each(list, function(i,v) {
                    $("#review_list").append($("<li>").append(v.toString()));
                });
            } else {
                $("#review_list").append($("<li>").append("None"));
            }
            $("#review_list").append("</ul>");
        }

        function updateReview() {
            $("#review_list").html("");
            $("#review_list")
                .append(fieldString('name'))
                .append(fieldString('vss'))
                .append(fieldString('duration'));
            // Diel
            reviewFieldList("Diel", diel_inputs);
            // Taxis
            reviewFieldList("Taxis", taxis_inputs);
        }

        $(document).ready(function() {

            dataToObjects();

            // Wizard
            $("#lifestage").wizard({
                beforeForward: function( event, state ) {
                    // Only check on the first step
                    if (state.stepIndex == 1) {
                        var inputs = $(this).wizard('state').step.find(':input');
                        return !inputs.length || !!inputs.valid();
                    }
                },
                afterSelect : function( event, state ) {

                    // Diel step
                    if (state.stepIndex == 1) {
                        move_or_stay(state, "diel", "diel_step");
                        updateList("diel_list", "diel_data", diel_inputs);
                    }

                    // Taxis step
                    if (state.stepIndex == 2) {
                        move_or_stay(state, "taxis", "taxis_step");
                        updateList("taxis_list", "taxis_data", taxis_inputs);
                    }

                    // Review step
                    if (state.stepIndex == 3) {
                        updateReview();
                    }
                }
            }).validate({
                errorPlacement: function(error, element) { 
                    if ( element.is(':radio') || element.is(':checkbox') ) {
                        error.insertBefore( element.next() );
                    } else { 
                        error.insertAfter( element );
                    }
                },
                rules: {
                    name: {
                        required: true
                    },
                    vss: {
                        required: true,
                        number: true
                    },
                    duration: {
                        required: true,
                        number: true
                    },
                    diel_hours: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked") && $("#sun").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#diel").is(":checked") && $("#sun").is(":checked");
                            }
                         }
                    },
                    diel_min_depth: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                         }
                    },
                    diel_max_depth: {
                        required: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#diel").is(":checked");
                            }
                         }
                    },
                    taxis_min: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         }
                    },
                    taxis_max: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         }
                    },
                    taxis_grad: {
                        required: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         },
                         number: {
                            depends: function() {
                                return $("#taxis").is(":checked");
                            }
                         }
                    }
                },
                messages: {
                    name: {
                        required: "Provide a behavior name"
                    },
                    vss: {
                        required: "Provide a vertical swimming speed"
                    },
                    duration: {
                        required: "Provide a duration"
                    }
                }
            });

            $("#diel_add").click(function(event) {

                var inputs = $("#lifestage").wizard('state').step.find(':input');
                if (inputs.length && !!inputs.valid()) {
                    var diel_type = $('input:radio[name=diel_type]:checked').val();
                    var diel_time = $("#times").val();
                    var timezone = $("#timezones").val();
                    var cycle = $("#cycles").val();
                    var plus_or_minus = $('input:radio[name=pmhours]:checked').val();
                    var hours = $("#diel_hours").val();
                    var min = $("#diel_min_depth").val();
                    var max = $("#diel_max_depth").val();
                    diel_inputs.push(new DielInput(diel_type,diel_time,timezone,cycle,plus_or_minus,hours,min,max));
                    updateList("diel_list", "diel_data", diel_inputs);
                }
            });

            $("#taxis_add").click(function(event) {

                var inputs = $("#lifestage").wizard('state').step.find(':input');
                if (inputs.length && !!inputs.valid()) {
                    var variable = $('#taxis_variable').val();
                    var gradient = $("#taxis_grad").val();
                    var min = $("#taxis_min").val();
                    var max = $("#taxis_max").val();
                    taxis_inputs.push(new TaxisInput(variable, min, max, gradient));
                    updateList("taxis_list", "taxis_data", taxis_inputs);
                }
            });
        });   

    </script>
{% endblock %}

