{% from "render_field.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<form method=post action="{{url_for('wizard_page_two')}}">
  <table cellspacing="10">
  	<tr><td>
    	NOTE: Comma-seperated values for searching/organizing
	</td></tr>
	<tr><td>
    	{{ render_field(form.keywords) }}
	</td></tr>
	<tr><td>
    	NOTE: Temporary way of inputing coords for global positioning
	</td></tr>
    <tr><td>
    	{{ render_field(form.geography) }}
	</td></tr>
  </table>
  <p><input type=submit value=Next>
</form>
{% endblock %}