{% from "render_field.html" import render_field %}
{% extends "layout.html" %}
{% block javascript %}
<!-- call super() to make sure any other needed javascript is loaded -->
{{ super() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    function initialize() {
        var map = new google.maps.Map(document.getElementById('map_canvas'), { center: new google.maps.LatLng(21.17, -86.66), zoom: 9, mapTypeId: google.maps.MapTypeId.HYBRID, scaleControl: true });
        var poly = new google.maps.Polyline({ map: map, path: [], strokeColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2, fillOpacity: 0.35, editable: true  });
        var isClosed = false;
        google.maps.event.addListener(poly, 'click', function (clickEvent) {
            if (isClosed)
                return;
            isClosed = true;
            poly.getPath().push(clickEvent.latLng);
            path = poly.getPath();
            poly.setMap(null);
            poly = new google.maps.Polygon({ map: map, path: path, strokeColor: "#FF0000", fillColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2, fillOpacity: 0.35, editable: true  });
            document.getElementById('positionData').geo.value = poly.getPath().getArray();
        });
        google.maps.event.addListener(map, 'click', function (clickEvent) {
            if (isClosed)
                return;
            poly.getPath().push(clickEvent.latLng);
        });
    }

</script>
{% endblock %}
{% block page %}
    <form method=post id="positionData" action="{{url_for('wizard_page_two')}}">
        <table cellspacing="10">
          	<tr><td>
            	NOTE: Comma-seperated values for searching/organizing
        	</td></tr>
        	<tr><td>
            	{{ render_field(form.keywords) }}
        	</td></tr>
            <tr><td>
                {{ render_field(form.geo_keywords) }}
            </td></tr>
        	<tr><td>
            	Click on map to start placing points.  Click on the first point to finish placing points.
        	</td></tr>
            <tr>
                <td><div id="shape_b" onclick="startShape()" /></td>
                <td><div id="hand_b"  onclick="stopEditing()"/></td>
            </tr>
            <tr><td>
                <div id="map_canvas" style="width:400px; height:350px"></div>
                <input id="geo" name="geo" type="hidden" value="">
        	</td></tr>
        </table>
        <p><input type=submit value=Next>
    </form>
    <script type="text/javascript">initialize();</script>
{% endblock %}