{% from "render_field.html" import render_field %}
{% extends "layout.html" %}
{% block page %}
    <table>
        <tr>
            <td><a href="{{url_for('wizard_page_three', add_stage=True)}}">Add Lifestage</a></td>
        </tr>
    </table>
    <br />
    <form method=post action="{{url_for('wizard_page_three')}}">
      <h2>LifeStages</h2>
      <table border="1">
            <tr>  
                {% for lifestage in form.lifestages %}
                <td>
                    <table>
                        <tr><td>{{ render_field(lifestage) }}</td></tr>
                    </table>
                </td>
                {% endfor %} 
            </tr>
      </table>
      <p><input type=submit value=Save To DB></p>
    </form>
{% endblock %}